/*#25274D #464866 #AAABB8 #2E9CCA #29648A*/

body {
    background-image: url(shutterstock_487576222.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3 {
    color:white;
}

section {
    padding: 0 7%;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #29648A;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 350%;
    text-align: center;
    transition-duration: 0.4s;
    font-weight: normal;
}

#info {
    text-align: center;
    font-size: larger;
    padding-top: 20%;
}

#float-child {
    width: 45%;
    float: left;
    padding: 20px;
    padding-top: 0px;
  }  

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

li {
    color: #25274D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#languages {
    width:28%;
    float:left;
}

#data_science {
    width:28%;
    float:left;
    position: relative;
}

#development {
    width:33%;
    float:left;
    position: relative;
}

.skills {
    background-color:white;
    color: #25274D;
    border-radius: 12px;
    opacity: 60%;
    border: 5px double #25274D;
    overflow: hidden;
}

.column {
    float: left;
    width: 26vw;
    margin: 1%;
  }

  .row {
      background-color: white;
      height: 26vw;
      margin-top: 5%;
      border-radius: 50%;
      text-align: center;
      text-overflow: inherit;
      opacity: 60%;
      border: 5px double #25274D;

  }
  

  #projects {
      margin: 0%;
      height:auto;
      padding-bottom: 3%;
  }

  #skills {
      height:auto;
      padding-bottom: 3%;
  }

  button {
    background-color: #25274D;
    color: white;
    padding: 5px 10px;
    margin: 0px;
    text-align: center;
    border-radius: 8px;
    transition-duration: 0.4s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  button:hover {
    padding: 7px 14px;
  }

  body, html {
    height: 100%;
    margin:0;
  }
  
  .parallax {
    /* The image used */
    background-color: #25274D;
  
    /* Full height */
    height: 100%; 
    margin:0;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .content {
      width: 80%;
      align-self: center;
      color: #29648A;
      text-align: center;
      padding-top: 18%;
      padding-left: 10%;
  }

  h3 {
    color: #25274D;
      font-size: 150%;
  }

  #experience, #education {
      height:auto;
      background-color: #25274D;
      opacity: 65%;
      padding-bottom: 3%;
  }

  #connect {
      height:auto;
      background-color: #25274D;
      opacity: 75%;
      color: white;
      text-align: center;
  }